body {
	background: linear-gradient(
		180.2deg,
		rgb(120, 85, 137) -6.9%,
		rgb(35, 9, 31) 76.7%
	);
	color: white;
}

h1 {
	font-family: "Lobster", cursive;
}

h3 {
	font-family: "Montserrat Alternates", sans-serif;
	display: flex;
	justify-content: space-evenly;
}

#diamond-narrow {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 70px solid red;
	position: relative;
	top: -50px;
}
#diamond-narrow:after {
	content: "";
	position: absolute;
	left: -50px;
	top: 70px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top: 70px solid red;
}
