body {
	background: black;
	color: #c8f0f0;
}

h1,
h2 {
	font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
	color: #7047a3;
	text-align: center;
	margin: 10px;
	margin-top: 10px;
	font-size: 80px;
}

h3 {
	font-family: "Montserrat Alternates", sans-serif;
}

marquee {
	border: 2px solid white;
}

span a {
	font-family: "Montserrat Alternates", sans-serif;
	text-decoration: none;
}

.intro {
	font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
	color: #7047a3;
	text-align: center;
	margin: 10px 10px 40px 10px;
	font-size: 50px;
}
.jumbotron {
	color: white;
	text-align: center;
	margin: 20px;
	font-size: 40px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	object-fit: fill;
}

/* Need to make diamond more responsive */

.diamond {
	position: relative;
	height: 350px;
	width: 350px;
	line-height: 350px;
	text-align: center;
	margin: 10px 40px;
	padding-right: 50px;
}
.diamond:before {
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	transform: rotateX(45deg) rotateZ(45deg);
	box-shadow: 0px 0px 12px gray;
}
.diamond:after {
	position: absolute;
	top: 10px;
	left: 10px;
	content: "";
	height: calc(
		100% - 22px
	); /* -22px is 2 * 10px gap on either side - 2px border on either side */
	width: calc(
		100% - 22px
	); /* -22px is 2 * 10px gap on either side - 2px border on either side */
	border: 1px solid #86d8dc;
	transform: rotateX(45deg) rotateZ(45deg);
}

@media (max-width: 576px) {
	.diamond {
		display: none;
	}

	span a {
		display: block;
		margin: 0 auto;
	}
}
